* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container {
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav img {
    height: 70px;
    width: 10%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 10px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    height: 3px;
    background-color: crimson;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s ease-in-out;
    
}

nav ul li a:hover::after {
    width: 100%;
}

.icons {
    height: 70px;
    width: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
}


.icons a:nth-child(1) {
    color: blue;
}

.icons a:nth-child(2) {
    color: purple;
}

.icons a:nth-child(3) {
    color: green;
}


/* hero section */

.typing {
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    width: 0;
    animation: typing 8s steps(30) infinite;
}

.typing span::before {
    color: crimson;
    content: "I am Frontend Developer";
    animation: changeText 8s infinite;
}

@keyframes typing {
    0% {
        width: 0
    }

    20% {
        width: 27ch
    }

    40% {
        width: 27ch
    }

    50% {
        width: 0
    }

    60% {
        width: 0
    }

    80% {
        width: 26ch
    }

    100% {
        width: 26ch
    }
}

@keyframes changeText {

    0%,
    50% {
        content: "I am Frontend Developer";
    }

    51%,
    100% {
        content: "I am Backend Developer";
    }
}

.hero-container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-outer {
    height: 500px;
    width: 40%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.profile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.info-outer {
    height: 500px;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.info-outer h1 {
    font-size: 3rem;
}

.info-outer {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: center;
}

/* about */

#about h1 {
    color: crimson;
    text-align: center;
}

#about hr {
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.about-text {
    margin: 30px auto;
    width: 80%;
    color: white;
    text-align: justify;
}

.about-text p {
    margin-top: 15px;
    font-size: 18px;
}

.about-text span {
    font-weight: bold;
    color: crimson;
}

#about ul {
    color: crimson;
    font-weight: bold;
    display: flex;
    gap: 30px;
    margin-left: 20px;
    font-size: 1.1rem;
}

/* skills */

#skills h1 {
    color: crimson;
    text-align: center;
}

#skills hr {
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.skill-outer {
    width: 80%;
    margin: 0 auto;
    /* background-color: aqua; */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.skill-box {
    height: 200px;
    background: linear-gradient(45deg, crimson, rgba(71, 6, 150, 0.85));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.skill-box:hover {
    transform: translate(-7px);
}

/* services */
#service h1 {
    color: crimson;
    text-align: center;
    padding: 10px;
    font-size: 3rem;

}

#service hr {
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;

}

.service-outer{
    color: white;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
}

.service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, crimson, rgba(71, 6, 150, 0.85));
}

.service-box h2{
    margin-top: -15px;
    font-size: 35px;
}

.service-box p{
    font-size: 15px;
}

/* latest project */
#latest h1 {
    color: crimson;
    text-align: center;
    padding: 10px;
    font-size: 3rem;

}

#latest hr {
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;

}

.latestproject-outer{
    color: white;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
}

.box1, .box2, .box3{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, crimson, rgba(71, 6, 150, 0.85));
}
img{
    height: 100%;
    width: 100%;
}





/* Contact Me */
#contact h1 {
    color: crimson;
    text-align: center;
    padding: 10px;
    font-size: 3rem;

}

#contact hr {
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.contactme{
    width: 80%;
    display: flex;
    margin: auto;
}

.letstalk{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.letstalk p{
    color: white;
}

.contacticons{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px
}

.contacticons p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contacticons p i{
    font-size: 15px;
}

.contactmeform{
    width: 100%;
}

.contactmeform form{
display: flex;
flex-direction: column;
gap: 20px;
padding-left: 100px;
color: white;width: 100%;
margin-top: 100px;
}

.contactmeform  form > div{
    display: flex;
    flex-direction: column;
}

.contactmeform form input{
height: 40px;
width: 60%;
border: none;
outline: none;
background-color: black;
padding: 10px;
color: white;
border: 2px solid rgb(78, 75, 75);
}

.contactmeform form textarea{
    height: 120px;
width: 60%;
border: none;
outline: none;
border: 2px solid rgb(78, 75, 75);
background-color: black;
padding: 10px;
color: white;
}

.contactmeform form button{
    width: 35%;
    padding: 10px 0;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    color: white;
    transition: all 1s ease;
    background: linear-gradient(to right, rgb(234, 8, 174), rgb(245, 49, 82));
}

.contactmeform form button:hover{
    box-shadow: 0 0 15px rgb(226, 7, 196);
    transform: translateY(-10px);
}





footer{
    margin-top: 30px;
    background-color: crimson;
    height: 70px;
}

.footeritem{
    width: 80%;
    height: 100%;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
